{% extends 'base.html' %}

{% block title %}Battle Simulator{% endblock %}

{% block content %}


<br/><br/>

battle here !!!!!!!!!!

<br/><br/>




        <html>
            <body>
                <p>Enter your numbers:
                <form method="post" action=".">
                    <p><input name="number1" /></p>
                    <p><input name="number2" /></p>
                    <p><input type="submit" value="Do calculation" /></p>
                </form>
            </body>
        </html>




<br/>
{{ add }}
<br/>
{{ adding  }}

<br/><br/>


<br/><br/>
{% endblock %}
