<!-- 
<!DOCTYPE html>

<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
                    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
                    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
                    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
                    crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
                    crossorigin="anonymous"></script>
</head>
 -->



{% extends 'app/test4C.html' %}  <!-- bring in base html instead !!!!!! -->

{% load static %}
 
{% block title %} profile {% endblock %}

{% block content %}
 

<!-- <style>

        div {
        background-color: #d36811;
        }
    
</style> -->

</br></br></br>

<body>
<h1 class="text-center" style="color:lightgrey;"> Github User Data </h1>
	<div class="col-lg-12">

        
        <style>
        .form-signin {
          max-width: 550px;
          padding: 15px;
          margin: 0 auto;
          /* background-color: #d36811;   */
        }    
        </style>

  
    <div class="container text-left">
        <form class="form-signin" id="login_form" method="post" action="/app/profile/">
          {% csrf_token %}              

    
          <br>
          <input type="text" name="user" class="form-control" placeholder="Github User Name, e.g: tobiaswettstein" value="" required autofocus>
          <br>
          <button class="btn btn-lg btn-dark btn-block" id="myBtn" type="submit" value="submit">Get Data</button>
        </form>
    </div>

    <!-- <script type="text/javascript">
        
        $(document).on('submit', '#login-form', function(e){
            e.preventDefault();

            $.ajax({
                type:'POST',
                url:'app/profile/',
                data: {
                    name:$('#name').val(),
                    blog:$('#blog').val(),
                    email:$('#email').val(),
                    public_gists:$('#public_gists').val(),
                    public_repos:$('#public_repos').val(),
                    avatar_url:$('#avatar_url').val(),
                    followers:$('#followers').val(),
                    following:$('#following').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoke]').val()
                }
                success:function(){
                    alert("new user");

                }

            });

        });

    </script> -->

    

        <div class="table-responsive">
            <table class="table table-dark table-bordered table-hover table-striped tablesorter">

                <thead>
                <tr>
                  <th class="header"> Name <i class="icon-sort"></i></th>
                  <th class="header"> Blog <i class="icon-sort"></i></th>
                  <th class="header"> Public Repos <i class="icon-sort"></i></th>
                  <th class="header"> Public Gists <i class="icon-sort"></i></th>
                  <th class="header"> Avatar <i class="icon-sort"></i></th>
                  <th class="header"> Email <i class="icon-sort"></i></th>
                  <th class="header"> Followers <i class="icon-sort"></i></th>
                  <th class="header"> Following <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>
            
            {% for key in data %}
                <tr>
                    <td>{{ key.name }}</td>
                    <td>{{ key.blog }}</td>
                    <td>{{ key.public_repos }}</td>
                    <td>{{ key.public_gists }}</td>
                    <td><img src="{{ key.avatar_url }}" class="rounded" alt="..."  width="100" height="100"></td>
                    <td>{{ key.email }}</td>
                    <td>{{ key.followers }}</td>
                    <td>{{ key.following }}</td>
                </tr>
            {% endfor %}
            
            </tbody>
            </table>
        </div>
    </div>




    {% endblock %}


