{% extends 'app/test4C.html' %}  <!-- this brings in my background video -->

{% load static %}
 
{% block title %} TEsT 5 {% endblock %}

{% block content %}


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

This is a test: <br>
[8, 24, 'kb'] add to this array without page refresh<br>
<br>

    
    <div id="result"> 
      </div>
      

    <script>
        let ll = [8, 24, 'kb'];
        function addNumber() {
          let xx = document.getElementById("numberInput").value;
          ll.push(xx);
          console.log(ll)
          document.getElementById("demo").innerHTML = ll;

        }
        
        
    </script>

<div>

    <form id="post-form" method="post" action="/app/test5/">
        {% csrf_token %}
    
        <input id="numberInput" name="x" placeholder="Enter number" value="" required autofocus>
    
        <button onclick="addNumber()" type="button"> add to list </button>
    </form>

</div>
    

<p id="demo"></p>

<script>
</script>



<!-- {{ pd }} -->





<br><br>
<br>
<br>
 
<!-- 
<script>
        function clickCounter() {
          if (typeof(Storage) !== "undefined") {
            if (sessionStorage.clickcount) {
              sessionStorage.clickcount = Number(sessionStorage.clickcount)+1;
            } else {
              sessionStorage.clickcount = 1;
            }
            document.getElementById("result").innerHTML = "You have clicked the button " + sessionStorage.clickcount + " time(s).";
          } else {
            document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
          }
        }
</script>


<p><button onclick="clickCounter()" type="button">Click me!</button></p>
<div id="result"></div>



<button onclick="myFunction()">Click me</button>

<p id="demo"></p>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Hello World";
}
</script> -->


{% endblock %}
